In [39]:
class employee:
    def __init__(self, name, number, address, salary, post, year_of_joining, education, years_of_experience):
        self.name = name
        self.number = number
        self.address = address
        self.salary = salary
        self.post = post
        self.year_of_joining = year_of_joining
        self.education = education
        self.years_of_experience = years_of_experience

    def describe_employee(self):
        print(f"Employee Name: {self.name}")
        print(f"Employee Number: {self.number}")
        print(f"Address: {self.address}")
        print(f"Salary: {self.salary}")
        print(f"Post: {self.post}")
        print(f"Year of Joining: {self.year_of_joining}")
        print(f"Education: {self.education}")
        print(f"Years of Experience: {self.years_of_experience}")

    def update_years_of_experience(self, additional_years):
        self.years_of_experience += additional_years
        print(f"Years of experience updated to: {self.years_of_experience} years")

    def increase_salary(self, increment):
        self.salary += increment
        print(f"Salary increased by ${increment}. New salary is ${self.salary}.")

employee101 = employee(
    name="Naveed Ahmed",
    number=792976,
    address="DHA phase II, Karachi, Pakistan",
    salary=75000,
    post="Softwear Engineer",
    year_of_joining=2018,
    education="Bachelor's Degree in Computer Science",
    years_of_experience=5
)

print(employee101.name)
print(employee101.number)
print(employee101.address)
print(employee101.salary)

Naveed Ahmed
792976
DHA phase II, Karachi, Pakistan
75000

In [41]:
employee101.describe_employee()
employee101.increase_salary(5000)
employee101.update_years_of_experience(2)

Employee Name: Naveed Ahmed
Employee Number: 792976
Address: DHA phase II, Karachi, Pakistan
Salary: 75000
Post: Softwear Engineer
Year of Joining: 2018
Education: Bachelor's Degree in Computer Science
Years of Experience: 5
Salary increased by $5000. New salary is $80000.
Years of experience updated to: 7 years

In [48]:
employees = [
    employee(f"ABC {i}", f"112233{i}", f"Address {i}", 5000 + i * 5000, "Developer", 2015 + i, "Bachelor's", 3 + i)
    for i in range(10)
]

for emp in employees:
    emp.describe_employee()
    emp.increase_salary(3000)
    emp.update_years_of_experience(1)

Employee Name: ABC 0
Employee Number: 1122330
Address: Address 0
Salary: 5000
Post: Developer
Year of Joining: 2015
Education: Bachelor's
Years of Experience: 3
Salary increased by $3000. New salary is $8000.
Years of experience updated to: 4 years
Employee Name: ABC 1
Employee Number: 1122331
Address: Address 1
Salary: 10000
Post: Developer
Year of Joining: 2016
Education: Bachelor's
Years of Experience: 4
Salary increased by $3000. New salary is $13000.
Years of experience updated to: 5 years
Employee Name: ABC 2
Employee Number: 1122332
Address: Address 2
Salary: 15000
Post: Developer
Year of Joining: 2017
Education: Bachelor's
Years of Experience: 5
Salary increased by $3000. New salary is $18000.
Years of experience updated to: 6 years
Employee Name: ABC 3
Employee Number: 1122333
Address: Address 3
Salary: 20000
Post: Developer
Year of Joining: 2018
Education: Bachelor's
Years of Experience: 6
Salary increased by $3000. New salary is $23000.
Years of experience updated to: 7 years
Employee Name: ABC 4
Employee Number: 1122334
Address: Address 4
Salary: 25000
Post: Developer
Year of Joining: 2019
Education: Bachelor's
Years of Experience: 7
Salary increased by $3000. New salary is $28000.
Years of experience updated to: 8 years
Employee Name: ABC 5
Employee Number: 1122335
Address: Address 5
Salary: 30000
Post: Developer
Year of Joining: 2020
Education: Bachelor's
Years of Experience: 8
Salary increased by $3000. New salary is $33000.
Years of experience updated to: 9 years
Employee Name: ABC 6
Employee Number: 1122336
Address: Address 6
Salary: 35000
Post: Developer
Year of Joining: 2021
Education: Bachelor's
Years of Experience: 9
Salary increased by $3000. New salary is $38000.
Years of experience updated to: 10 years
Employee Name: ABC 7
Employee Number: 1122337
Address: Address 7
Salary: 40000
Post: Developer
Year of Joining: 2022
Education: Bachelor's
Years of Experience: 10
Salary increased by $3000. New salary is $43000.
Years of experience updated to: 11 years
Employee Name: ABC 8
Employee Number: 1122338
Address: Address 8
Salary: 45000
Post: Developer
Year of Joining: 2023
Education: Bachelor's
Years of Experience: 11
Salary increased by $3000. New salary is $48000.
Years of experience updated to: 12 years
Employee Name: ABC 9
Employee Number: 1122339
Address: Address 9
Salary: 50000
Post: Developer
Year of Joining: 2024
Education: Bachelor's
Years of Experience: 12
Salary increased by $3000. New salary is $53000.
Years of experience updated to: 13 years

In [54]:
def describe_employee(employee):
    print(f"Employee Name: {employee['name']}")
    print(f"Employee Number: {employee['number']}")
    print(f"Address: {employee['address']}")
    print(f"Salary: ${employee['salary']}")
    print(f"Post: {employee['post']}")
    print(f"Year of Joining: {employee['year_of_joining']}")
    print(f"Education: {employee['education']}")
    print(f"Years of Experience: {employee['years_of_experience']} years")
    
def update_years_of_experience(employee, additional_years):
    employee['years_of_experience'] += additional_years
    print(f"Years of experience updated to: {employee['years_of_experience']} years")

def increase_salary(employee, increment):
    employee['salary'] += increment
    print(f"Salary increased by ${increment}. New salary is ${employee['salary']}.")

employee101 = {
    "name": "Ali Hassan",
    "number": "210485",
    "address": "PECHS BLOCK 02, Karachi, Pakistan",
    "salary": 50000,
    "post": "Banker",
    "year_of_joining": 2022,
    "education": "Bachelor's Degree in Commerce",
    "years_of_experience": 5
}

print(employee101['name'])
print(employee101['number'])
print(employee101['address'])
print(employee101['salary'])

Ali Hassan
210485
PECHS BLOCK 02, Karachi, Pakistan
50000

In [52]:
describe_employee(employee101)
increase_salary(employee101, 5000)
update_years_of_experience(employee101, 2)

Employee Name: Ali Hassan
Employee Number: 210485
Address: PECHS BLOCK 02, Karachi, Pakistan
Salary: $55000
Post: Banker
Year of Joining: 2022
Education: Bachelor's Degree in Commerce
Years of Experience: 7 years
Salary increased by $5000. New salary is $60000.
Years of experience updated to: 9 years

In [56]:
employees = [
    {
        "name": f"Employee {i}",
        "number": f"E100{i}",
        "address": f"Address {i}",
        "salary": 50000 + i * 5000,
        "post": "Developer",
        "year_of_joining": 2015 + i,
        "education": "Bachelor's",
        "years_of_experience": 3 + i
    }
    for i in range(10)
]

for emp in employees:
    describe_employee(emp)
    increase_salary(emp, 3000)
    update_years_of_experience(emp, 1)

Employee Name: Employee 0
Employee Number: E1000
Address: Address 0
Salary: $50000
Post: Developer
Year of Joining: 2015
Education: Bachelor's
Years of Experience: 3 years
Salary increased by $3000. New salary is $53000.
Years of experience updated to: 4 years
Employee Name: Employee 1
Employee Number: E1001
Address: Address 1
Salary: $55000
Post: Developer
Year of Joining: 2016
Education: Bachelor's
Years of Experience: 4 years
Salary increased by $3000. New salary is $58000.
Years of experience updated to: 5 years
Employee Name: Employee 2
Employee Number: E1002
Address: Address 2
Salary: $60000
Post: Developer
Year of Joining: 2017
Education: Bachelor's
Years of Experience: 5 years
Salary increased by $3000. New salary is $63000.
Years of experience updated to: 6 years
Employee Name: Employee 3
Employee Number: E1003
Address: Address 3
Salary: $65000
Post: Developer
Year of Joining: 2018
Education: Bachelor's
Years of Experience: 6 years
Salary increased by $3000. New salary is $68000.
Years of experience updated to: 7 years
Employee Name: Employee 4
Employee Number: E1004
Address: Address 4
Salary: $70000
Post: Developer
Year of Joining: 2019
Education: Bachelor's
Years of Experience: 7 years
Salary increased by $3000. New salary is $73000.
Years of experience updated to: 8 years
Employee Name: Employee 5
Employee Number: E1005
Address: Address 5
Salary: $75000
Post: Developer
Year of Joining: 2020
Education: Bachelor's
Years of Experience: 8 years
Salary increased by $3000. New salary is $78000.
Years of experience updated to: 9 years
Employee Name: Employee 6
Employee Number: E1006
Address: Address 6
Salary: $80000
Post: Developer
Year of Joining: 2021
Education: Bachelor's
Years of Experience: 9 years
Salary increased by $3000. New salary is $83000.
Years of experience updated to: 10 years
Employee Name: Employee 7
Employee Number: E1007
Address: Address 7
Salary: $85000
Post: Developer
Year of Joining: 2022
Education: Bachelor's
Years of Experience: 10 years
Salary increased by $3000. New salary is $88000.
Years of experience updated to: 11 years
Employee Name: Employee 8
Employee Number: E1008
Address: Address 8
Salary: $90000
Post: Developer
Year of Joining: 2023
Education: Bachelor's
Years of Experience: 11 years
Salary increased by $3000. New salary is $93000.
Years of experience updated to: 12 years
Employee Name: Employee 9
Employee Number: E1009
Address: Address 9
Salary: $95000
Post: Developer
Year of Joining: 2024
Education: Bachelor's
Years of Experience: 12 years
Salary increased by $3000. New salary is $98000.
Years of experience updated to: 13 years